In [ ]:
#Importancion de librerias
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#Importacion de los datos
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vTgY_Hkdw-cwZV6_WjaYgz5iS36p00KZsLYU0bjg0poiW9RdJgXz340YYCophBS2kIGWOfRIZU_wZUu/pub?output=csv')
df

     age  year_operation  nodes_detected  over_5_years
0     30              64               1             1
1     30              62               3             1
2     30              65               0             1
3     31              59               2             1
4     31              65               4             1
..   ...             ...             ...           ...
301   75              62               1             1
302   76              67               0             1
303   77              65               3             1
304   78              65               1             2
305   83              58               2             2

[306 rows x 4 columns]

In [ ]:
X = df[["age","year_operation","nodes_detected"]]#Valores de entrada
Y = df["over_5_years"] #Salida es 1(sobrevivio mas de 5 aÃ±os) o 2 murio dentro de los 5 aÃ±os siguientes

In [ ]:
from sklearn import datasets
from sklearn.metrics import confusion_matrix
#from sklearn.cross_validation import train_test_split
# de acuerdo a la version scikit train_test_split puede ser
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.neural_network import MLPClassifier

X_train,X_test, Y_train, Y_test  = train_test_split(X,Y, test_size = 0.25, random_state=0)

#TODO: normalize the data
names=['MLP logistic','MLP tanh','MLP relu','MLP relu/SGD/three layers']
clfs=[MLPClassifier(activation='logistic',max_iter=1000),
      MLPClassifier(activation='tanh',max_iter=1000),
      MLPClassifier(activation='relu',max_iter=1000),
      MLPClassifier(activation='relu',solver='sgd',hidden_layer_sizes =(10,100,80),max_iter=10000)]

for clf,name in zip(clfs,names):
    print('--------------------------------------')
    print(name)
    scores = cross_val_score(clf, X_train, Y_train, cv=5,scoring='f1_weighted',n_jobs=-1)
    print(scores)
    #print('mean {a:5.3f} standard desviation {b:5.3f}'.format(a=scores.mean(),b=scores.std()))
    print('mean {0:22.2f}| std   {1:<22.2f}'.format(scores.mean(),scores.std()))
    print("Accuracy: {0:23.2f} (+/- {1:.2f})" .format(scores.mean(), scores.std()* 2))

--------------------------------------
MLP logistic
[0.72816295 0.79550884 0.76034038 0.77681159 0.65840841]
mean                   0.74| std   0.05
Accuracy:                    0.74 (+/- 0.10)
--------------------------------------
MLP tanh
[0.67938063 0.74438605 0.68716861 0.73517787 0.62222222]
mean                   0.69| std   0.04
Accuracy:                    0.69 (+/- 0.09)
--------------------------------------
MLP relu
[0.71188991 0.76034038 0.68716861 0.68716861 0.68055556]
mean                   0.71| std   0.03
Accuracy:                    0.71 (+/- 0.06)
--------------------------------------
MLP relu/SGD/three layers
[0.74455243 0.72101449 0.76034038 0.73517787 0.63450292]
mean                   0.72| std   0.04
Accuracy:                    0.72 (+/- 0.09)

#Conclusiones:

En este caso podemos ver que tanto en los modelos MPL, como en el clasificador de decision three la media de exactitud llega a tener valores muy sÃ­milares, por lo tanto ambos modelos podrÃ­an funcionar de manerca correcta.